a {
    color: white !important;
}

.hov:hover {
    background-color: black !important;
}

.logo {
    width: 150px;
}

.avatar {
    width: 45px;
}


footer ul,
footer span {
    font-size: 0.9rem;
}

footer a {
    text-decoration: none;
}

.avatarEdit {
    width: 160px;
}

.textCheck {
    font-size: 1.1rem;
}

.check {
    position: relative;
    left: 36px;
    top: 30px
}

.hover-img:hover{
    opacity: 1 !important;
    transform: scale(1.01);
}

@media screen and (min-width: 992px){
    .title-page2 {
        font-size: 4rem !important;
    }

    .check {
        left: 40px;
    }
}