<div class="bg-black">
    <app-navbar></app-navbar>
  </div>
<div class="container-fluid">
    <div class="row col-8 col-md-10 offset-md-1 offset-2 pt-2">
        <div class="p-0 mb-3">
            <h1 class="display-5 h1Account title-page2 fw-semibold text-dark">Account</h1>
        </div>
    </div>
    <div class="row col-8 offset-2 col-md-10 offset-md-1  border-top border-dark-subtle pt-3">
        <div class="p-0 mb-3 d-md-flex">
            <div class="mb-3 col-md-4">
                <h4 class="title-page2 h4Account fw-semibold text-black-50">MEMBERSHIP & BILLING</h4>
                <button class="btn btn-light shadow rounded-1 text-dark px-4" type="button">
                    Cancel Membership
                </button>
            </div>
            <div class="d-flex justify-content-between col-md-8">
                <ul class="navbar-nav">
                    <li class="fw-bold mb-md-2">{{currentUserArray[1].email}}</li>
                    <li class="mb-md-2">Password: *******</li>
                    <li class="mb-md-2">Phone: 321 044 1279</li>
                </ul>
                <ul class="navbar-nav text-end">
                    <li class="mb-md-2"><a class="text-primary" >Change account email</a></li>
                    <li class="mb-md-2"><a class="text-primary">Change password</a></li>
                    <li class="mb-md-2"><a class="text-primary">Change phone number</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="row col-8 offset-2 col-md-7 offset-md-4 border-top border-dark-subtle pt-3">
        <div class="p-0 mb-3 d-flex">
            <div class="col-6 d-md-flex align-items-md-start">
                <img src="https://upload.wikimedia.org/wikipedia/commons/b/b5/PayPal.svg" class="w-25" alt="">
                <ul class="navbar-nav">
                    <li class="fw-bold">{{currentUserArray[1].email}}</li>
                </ul>
            </div>
            <div class="col-6">
                <ul class="navbar-nav text-end">
                    <li><a class="text-primary">Update payment info</a></li>
                    <li><a class="text-primary">Billing details</a></li>
                    <li><a class="text-primary">Redeem giftcard or promo code</a></li>
                    <li><a class="text-primary">Where to buy gift cards?</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="row col-8 offset-2 col-md-10 offset-md-1 border-top border-dark-subtle pt-3">
        <div class="p-0 mb-3 d-md-flex">
            <div class="col-md-4">
                <h4 class="title-page2 h4Account fw-semibold text-black-50 mb-0">PLAN DETAILS</h4>
            </div>
            <div class="d-flex justify-content-between w-100">
                <ul class="navbar-nav">
                    <li class="fw-bold">Standard <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                            fill="currentColor" class="bi bi-badge-hd" viewBox="0 0 16 16">
                            <path
                                d="M7.396 11V5.001H6.209v2.44H3.687V5H2.5v6h1.187V8.43h2.522V11zM8.5 5.001V11h2.188c1.811 0 2.685-1.107 2.685-3.015 0-1.894-.86-2.984-2.684-2.984zm1.187.967h.843c1.112 0 1.622.686 1.622 2.04 0 1.353-.505 2.02-1.622 2.02h-.843z" />
                            <path
                                d="M14 3a1 1 0 0 1 1 1v8a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V4a1 1 0 0 1 1-1zM2 2a2 2 0 0 0-2 2v8a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V4a2 2 0 0 0-2-2z" />
                        </svg></li>
                </ul>
                <ul class="navbar-nav text-end">
                    <li><a class="text-primary">Change plan</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="row col-8 offset-2 col-md-10 offset-md-1 border-top border-dark-subtle pt-3">
        <div class="p-0 mb-3 d-md-flex">
            <div class="col-md-4">
                <h4 class="title-page2 mb-2 h4Account fw-semibold text-black-50">SETTINGS</h4>
            </div>
            <div>
                <ul class="navbar-nav">
                    <li class="mb-1"><a class="text-primary">Parent Controls</a></li>
                    <li class="mb-1"><a class="text-primary">Test Participation</a></li>
                    <li class="mb-1"><a class="text-primary">Manage download</a></li>
                    <li class="mb-1"><a class="text-primary">Activate a device</a></li>
                    <li class="mb-1"><a class="text-primary">Recent device streaming activity</a></li>
                    <li class="mb-1"><a class="text-primary">Signout all devices</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="row col-8 offset-2 col-md-10 offset-md-1 border-top border-dark-subtle pt-3">
        <div class="p-0 mb-3 d-md-flex flex-md-wrap">
            <div class="col-md-4">
                <h4 class="title-page2 mb-2 h4Account fw-semibold text-black-50">MY PROFILE</h4>
            </div>
            <div class="d-flex justify-content-between mb-4 col-md-8">
                <div>
                    <span class="fw-bold">{{currentUserArray[1].name}}</span>
                </div>
                <div>
                    <ul class="navbar-nav">
                        <li><a class="text-primary" href="editProfile.html">Manage profiles</a></li>
                        <li><a class="text-primary">Add profile email</a></li>
                    </ul>
                </div>
            </div>
            <div class="offset-md-4 d-md-flex">
                <ul class="navbar-nav me-md-4 me-lg-5">
                    <li class="mb-1"><a class="text-primary">Language</a></li>
                    <li class="mb-1"><a class="text-primary">Playback settings</a></li>
                    <li class="mb-1"><a class="text-primary">Subtitle appearence</a></li>
                </ul>
                <ul class="navbar-nav">
                    <li class="mb-1"><a class="text-primary">Viewing acrivity</a></li>
                    <li class="mb-1"><a class="text-primary">Ratings</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

