/* VISUALIZZARE A 1500px */

body {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
}


/* BLOCCO HEADER */
header {
    margin-top: 92px;
}

header,
nav {
    background-color: #ffc017;
    border-bottom: 1px solid black;
}

nav {
    transition: background-color 0.5s ease;
}

.nav-scroll {
    background-color: white;
}

nav {
    padding: 20px 0;
    justify-content: space-around;
    position: fixed;
    margin-top: -93px;
    z-index: 1000;
}

nav,
#titolo {
    width: 100%;
}

nav,
nav ul {
    display: flex;
    list-style-type: none;
    font-size: 0.8em;
    align-items: center;
}

.liColor {
    background-color: #1a8917 !important;
}

#titolo p,
#lastLi {
    background-color: #191919;
    color: white;
    border-radius: 50px;
}

#lastLi {
    padding: 10px;
    margin-right: 0;
}

li {
    margin-right: 25px;
}

#titolo {
    display: flex;
    justify-content: end;
}

#titolo h3 {
    width: 450px;
    margin-top: 0;
    margin-bottom: 40px;
    font-size: 24px;
}

#titolo h3,
h1 {
    font-weight: 400;
}

#titolo p {
    width: 150px;
    padding: 10px 40px;
    font-size: 20px;
    text-align: center;
}

.scritte {
    margin-right: 80px;
}

h1 {
    font-family: "Spectral", serif;
    font-size: 106px;
    margin-bottom: 0;
}

/* SECTION 1 */

.main {
    border-bottom: 1px solid #F2F2F2;
    padding-bottom: 40px;
    margin-bottom: 50px;
}

.section1 {
    display: flex;
    width: 68%;
    flex-direction: column;
    margin: 0 auto;
}


.news {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 293px;
    margin-top: 10px;
}

.container {
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    height: 200px;
    flex-wrap: wrap;
}

.container2 {
    display: flex;
    width: 286px;
}

.news div:first-child p,
.news div:last-child p {
    margin: 0;
}

.news div:first-child {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.news div:first-child p {
    font-size: 10px;
    font-weight: 600;
}

.number {
    display: flex;
    flex-direction: column;
}

.trending {
    display: flex;
    margin-top: 50px;
}

.trending h2 {
    font-size: 16px;
    margin-left: 10px;
}

.number span {
    font-size: 32px;
    color: #F2F2F2;
    margin-right: 20px;
}

.img1 img,
.img2 img {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.img1 img {
    border-radius: 100%;
}

.img2 img {
    border-radius: 3px;
}


.news div:last-child {
    display: flex;
    align-items: center;
}

.news div:last-child p {
    font-weight: 400;
    font-size: 13px;
    margin-right: 3px;
}


.news h2 {
    font-size: 12px;
    margin-top: 0;
}

/* Section2 */

.section2 {
    width: 68%;
    margin: 0 auto;
    display: flex;
    margin-bottom: 30px;
}

.container3 {
    width: 387px;
    display: flex;
}

.img200 img {
    width: 184px;
    margin-left: 40px;
}

.container3 div:first-child img,
.data span,
.secondList li {
    margin-right: 10px;
}

.container3 div:first-child img {
    width: 20px;
    height: 20px;
    border-radius: 100%;
}

.container3 h2,
.container3 p,
.container3 h3,
.data div p {
    margin: 0;
}

.container3 h2,
.container3 p {
    margin-bottom: 10px;
}

.paragrafo,
.container3 h3,
.data {
    font-size: 13px;
}

.paragrafo {
    width: 373px;
}

.container3 h2 {
    font-size: 18px;
    margin-top: 10px;
}

.data {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.name {
    display: flex;
    align-items: center;
}

.data div {
    display: flex;
    align-items: center;
}

.data span {
    background-color: #F2F2F2;
    border-radius: 50px;
    padding: 0 7px;
}


.container3:not(:first-child) {
    margin-top: 50px;
}

.containerList {
    position: sticky;
    top: 140px;
    display: flex;
    flex-wrap: wrap;
    margin-left: 345px;
    height: 200px;
    z-index: 100;
}

.containerList h3 {
    font-size: 12px;
    margin-top: 0;
}

.containerList ul {
    display: flex;
    list-style-type: none;
    align-items: center;
    flex-wrap: wrap;
    padding-inline-start: 0;
    font-size: 11px;
}


.firstList li {
    border: 1px solid #F2F2F2;
    padding: 5px;
    border-radius: 3px;
    margin: 0 5px 5px 0;
}

.firstList {
    border-bottom: 1px solid #F2F2F2;
    padding-bottom: 20px;
}

.secondList li {
    margin-bottom: 5px;
}



@media screen and (max-width: 768px) {
    .main {
        height: 330px;
    }
    
    .scritte h1 {
        font-size: 4em;
    }
    
    #titolo h3, #titolo p {
        font-size: 1em;
    }
    
    #titolo p {
        padding: 10px 20px;
    }
    
    .scritte {
        margin-right: 0;
        margin-left: 60px;
    }
    
    .section1, .section2 {
        width: 85%;
    }
    
    .section2 {
        flex-direction: column-reverse;
    
    }
    
    .trending {
        margin-top: 30px;
    }
    
    .containerList {
        margin-left: 0;
        height: 140px;
        position: static;
    }
    
    .svg {
        position: relative;
        right: 62px;
    }
    
    svg {
        width: 120% !important;
        height: 115% !important;
    }
}

@media screen and (max-width: 576px) {
    .main {
        height: 600px;
        padding-bottom: 0;
        margin-bottom: 40px;
    }
    
    .main,
    .section2 {
        width: 98%;
        margin: 10px;
    }
    
    #titolo {
        justify-content: flex-start;
        margin-bottom: 50px;
    }
    
    nav {
        justify-content: space-between;
    }
    
    nav img,
    .scritte {
        margin-left: 10px;
    }
    
    nav ul,
    .firstList li {
        margin-right: 10px;
    }
    
    nav ul li:nth-child(1),
    nav ul li:nth-child(2),
    nav ul li:nth-child(3),
    svg {
        display: none;
    }
    
    .news h2 {
        width: 380px;
    }
    
    .section1,
    .container2 {
        width: 100%;
    }
    
    .paragrafo {
        width: 332px;
    }
    
    .containerList {
        height: auto;
    }
    
    .containerList h3 {
        font-size: 15px;
    }
    
    .firstList {
        width: 94%;
    }
    
    .secondList {
        width: 91%;
    }
    
    .firstList li,
    .secondList li {
        font-size: 13px;
    }
    
    .firstList li {
        padding: 5px 15px;
        margin-bottom: 5px;
    }
    
    .secondList li {
        margin-right: 30px;
        margin-bottom: 10px;
    }
    
    .data {
        font-size: 11px;
    }
    
    .scritte h1 {
        font-size: 5.3em;
    }
    
    #titolo h3 {
        font-size: 1.4em
    }
}