.bg{
    background-image: url(https://assets.nflxext.com/ffe/siteui/vlv3/7ca5b7c7-20aa-42a8-a278-f801b0d65fa1/5e0e928c-6cf0-4db6-8c10-b5c8c960bb7f/IT-it-20240326-popsignuptwoweeks-perspective_alpha_website_large.jpg);
}

.bg2{
    background-color: rgba(0, 0, 0, 0.541);
}

form{
    margin-top: 178.5px;
    margin-bottom: 178.5px;
    background-color: #000000b6;
}

img{
  position: absolute;
  top: 20px;
  left: 550px;
    height: 50px;
}

@media screen and (max-width: 576px){


    img{
        left: 20px;
    }
    
    form{
        width: 50% !important;
        margin-top: 125px;
        margin-bottom: 125px;
    }
    } 