body {
    margin: 0;
    padding: 0;
box-sizing: border-box;
}

header {
    background-color: #222F3F !important;
}

nav img {
width: 150px;
}

.scale {
    transition: transform 0.5s
}

.scale:hover {
    opacity: 1 !important;
    transform: scale(1.03);

}

.spinner-border {
    border: 0 !important;
}
