<div class="container border pt-2 mb-5" *ngFor="let todo of todo">
    <div class="d-flex">
      <div class="col-4 d-flex align-items-end">
        <img [src]="getUser(todo.userId).image" alt="">
      </div>
      <div class="col-6">
        <h3>{{ getUser(todo.userId).firstName }} {{ getUser(todo.userId).lastName }}</h3>
        <p>{{ getUser(todo.userId).title }}</p>
        <div *ngFor="let todo of todo.todo" class="d-flex mb-2 p-2 rounded" [ngClass]="todo.completed ? 'bg-success-subtle' : 'bg-danger-subtle'">
          <div>
            <input type="checkbox" class="me-2" [checked]="todo.completed" (change)="toggleCompleted(todo)">
          </div>
          <div>
            <h5 class="m-0">{{ todo.todo }}</h5>
            <p class="m-0">{{ getUser(todo.userId).firstName }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  