body {
    margin: 0;
    padding: 0;
    font-family: "Bree Serif";
}

main {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
}

.container {
    border: 1px solid black;
    width: 40%;
    margin: 0 auto;
    padding: 10px;
}

#testoAlternato {
    position: relative;
}

.parole i {
    position: absolute;
    top: 42px;
    margin-left: 5px;
    opacity: 0;
    animation: cambioTesto 6s ease-in-out infinite 0s;
}

.parole i:nth-child(1) {
    color: #6A889C;
}

.parole i:nth-child(2) {
    color: #7479A1;
    animation-delay: 2s;
}

.parole i:nth-child(3) {
    color: #6F739E;
    animation-delay: 4s;
}


@keyframes cambioTesto {
    from {
       opacity: 0;
        top: 22px;
    }

    25% {
        opacity: 1;
        top: 42px;
    }

    50% {
        opacity: 0;
        top: 62px;
    }

    to {
        opacity: 0;
        top: 42;
    }
}