.bg{
    background-color: rgba(0, 0, 0, 0.541);
}

.bg img {
    width: 100%;
    height: 60vh;
}

@media screen and (max-width: 576px){

.card{
    width: 90% !important;
}
.card-text{
    display: none;
}

h6{
    display: none;
}
    } 