body {
    margin: 0;
    padding: 0;
    font-family: "Indie Flower";
    background-color: #666666;
}

main {
    max-width: 100%;
    display: flex;
    margin: 30px;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 100px;
}

.hvr-curl-top-left {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
}

.hvr-curl-top-left:before {
    pointer-events: none;
    position: absolute;
    content: '';
    height: 0;
    width: 0;
    top: 0;
    left: 0;
    background: white;
    background: linear-gradient(135deg, white 45%, #aaa 50%, #ccc 56%, white 80%);
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr='#ffffff', endColorstr='#000000');
    z-index: 1000;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: width, height;
    transition-property: width, height;

}

.hvr-curl-top-left:hover:before,
.hvr-curl-top-left:focus:before,
.hvr-curl-top-left:active:before {
    width: 80px;
    height: 80px;
}

.container {
    width: 420px;
    height: 320px;
    margin-bottom: 40px;
}

.scritte {
    text-align: left;
    width: 224px;
    font-size: 2.5em;
}

.scritte>* {
    margin: 0;
}


.yellow,
.green,
.violet {
    width: 400px;
    height: 300px;
    margin-bottom: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 4px 7px 9px 7px rgba(0, 0, 0, 0.1);
}




.yellow {
    background: linear-gradient(180deg, rgba(253, 253, 203, 1) 34%, rgba(189, 189, 163, 1) 100%);
    transform: rotate(-7deg);
}

.green {
    background: linear-gradient(180deg, #CBFDCD 34%, #9EB5A1 100%);
    transform: rotate(7deg);
}

.violet {
    background: linear-gradient(180deg, #CACAFA 34%, #8C8D9C 100%);
    transform: rotate(10deg)
}

.container>*:hover {
    transform: rotate(0);
    width: 420px;
    height: 320px;
    transition-duration: 0.5s;
}

.container>*:not(:hover) {
    transition-duration: 0.5s;
}