<div class="container-fluid">
  <div class="col-8 offset-2">
    <app-tags (filteredPostsEvent)="updateFilteredPosts($event)"></app-tags>
    <h1 class="text-center">Tutti i Posts</h1>
    <span *ngFor="let post of filteredPosts"> <!-- Utilizzo di filteredPosts -->
      <div *ngIf="!selectedPost || (selectedPost && selectedPost.id !== post.id)">
        <div class="card mb-2">
          <div class="card-header">
            <span class="me-2 px-2 py-1 rounded" *ngFor="let item of post.tags" appHighlight>{{ item | uppercase }}</span>
          </div>
          <div class="card-body">
            <h5 class="card-title">{{ post.title }}</h5>
            <p class="card-text">{{ post.body }}</p>
            <div>
              <a [routerLink]="['/details', post.id]" class="btn btn-primary">Dettagli</a>
              <button type="button" class="btn btn-danger ms-2" (click)="editPost(post)">EDIT</button>
            </div>
          </div>
        </div>
      </div>
      <div *ngIf="selectedPost && selectedPost.id === post.id" class="mb-2">
        <app-edit-post [post]="selectedPost" (postUpdated)="updatePost($event)"></app-edit-post>
      </div>
    </span>
  </div>
</div>
