body {
    margin: 0;
    padding: 0;
    color: #732104;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: -1px;
}

header {
    margin: 20px;
    background-color: #FEF7E2;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    padding: 30px;
}

nav ul li:first-child {
display: flex;
width: 100%;
justify-content: center;
}

nav ul li:not(:first-child){
    width: 35%;
}

nav ul {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-inline-start: 0;
   
}

nav li {
    padding: 20px;
    font-weight: bold;
}

nav li:nth-child(2), nav li:nth-child(3), nav li:nth-child(1)  {
    margin-bottom: 10px;
}

nav ul li img {
    width: 50px;
    margin-right: 20px;
}

nav ul li{
    background-color: #FFDF7F;
    border-radius: 100px;
    text-align: center;
}


#titolo {
    width: 50%;
    text-align: center;
    margin: 0 auto;
}

.schede {
    margin: 20px;
    background-color: #FEF7E2;
    border-radius: 30px;
}

.schede img {
    width: 100%;
    border-radius: 30px 30px 0 0;
}

.schede div {
    text-align: center;
}

.scritte div p, #scritte div h3 {
margin: 0;
}

.scritte {
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
    flex-wrap: wrap;
}

.scritte h4 {
    background-color: #FFDF7F;
    border-radius: 100px;
    padding: 10px;
}

.scritte >* {
    width: 41%;
}

.kg {
    width: 19%;
}
aside {
    margin:50px 20px 20px 20px;
}
#h2 {
   width: 50%;
   margin: 0 auto;
   text-align: center;
}

#lorem {
    padding: 10px 30px 10px 30px;
    background-color: #FEF7E2;
    border-radius: 30px;
}

#lorem p {
    margin-bottom: 30px;
}

#lorem img {
max-width: 100%;
padding-bottom: 20px;
}

@media screen and (min-width: 576px){
    header {
        border-radius: 0;
        margin: 0;
        padding: 10px;
    }
nav ul {
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
}


nav {
    width: 100%;
}
nav ul li img {
    width: 45px;
    height: 40px;
}

 nav li:nth-child(2) {
order: -2;
}
nav li:nth-child(3) {
    order: -1;
}
 
nav ul li:first-child {
    align-items: center;
    width: auto;
}

nav ul li:not(:first-child){
    font-size: 0.9em;
    padding: 10px 5px 10px 5px;
    width: 80px;
    }
h1 {
    margin-bottom: 0;
}
    #titolo {
        margin:20px;
        width: 100%;
        text-align: left;
    }
    main {
        display: flex;
        flex-wrap: wrap;
    }
    .schede {
        width: 45%;
        margin: 13px;
    }
    .scritte {
        align-items: center;
        width: 100%;
        margin: 0;
    }

    .scritte div p {
        width: 132px;
    }

    .schede h4 {
        margin-bottom: 5px;
    }
    .schede h3{
        margin-bottom: 0;
        width: 132px;
    }
    .kg {
        margin-bottom: 0;
    }

    .schede:last-child {
        display: none;
    }

    #h2 {
       width: 100%;
       text-align: left;
    }
} 

    
